$primaryTeal: #26a69a;
$lightTeal:#64d8cb;
$darkTeal:#00766c;
$primaryOrange:#ff3d00;
$lightOrange:#ff7539;
$darkOrange: #c30000;
$black: #1f1f1f;

$teal: #11bdb2;
$pink: #ffc9f1;
$yellow: #ffe791;

$lightestGrey: #E9EEF0;
$midGrey: #c5d9e0;
$darkGrey: #476575;
$darkestGrey: #182e3b;