@import "_variables.scss";
@import "_mediaqueries.scss";

body {
  font-family: korolev, sans-serif !important;
  font-size: 16px;
  // margin: 25px 50px 30px 50px;
  height: 100vh;
}

main {
  background-color: rgb(235, 235, 235);
  padding: 20px;
  margin: 90px 12px 12px 12px;
  background-attachment: scroll;
  // overflow: hidden;
  position: relative;
  z-index: -1;

  div {
    height: 200px;
    // background-color: orange;
    width: 100%;
    margin-bottom: 20px;
  }

  section {
    background-color: pink;
    width: 100%;

    .typed {
      display: inline-block;
      font-size: 25px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

footer {
  height: 10vh;
  margin-top: 10px;
  background-color: white;
}

.navbar {
  font-size: 18px;
  height: 90px;
  position: fixed;
  background-color: white;
  width: calc(100% - 30px);
  top: 0px;
  left: 22px;

  @include md {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 70px);
  }

  // lines for the active animation
  div {
    height: 60px;
    position: absolute;
    top: 0px;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
  }

  ul {
    padding-inline-start: 0px;

    @include md {
      margin-right: 8px;
      line-height: 0.5;
      margin-top: 20px;
    }
  }

  img {
    margin-top: 10px;
    margin-left: 0px;
  }

  svg {
    font-size: 20px;
    margin-top: 15px;
  }
}

.main-nav {
  list-style-type: none;
  // margin-top: -100vh;
  display: block;
}

.nav-links {
  text-decoration: none;
  color: black;
  padding: 0px 0px;
  padding: 10px 10px;
}

.main-nav li {
  text-align: center;
  margin: 35px auto;

  @include md {
    margin: 15px auto;
  }
}
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: $darkTeal;
  font-size: 24px;
}

.active {
  display: block;
  height: 100vh;
  background-color: white;
  animation: slide-in-nav 0.7s ease-out;
  margin-top: -30px;

  @include md {
    postion: unset;
    height: unset;
    top: unset;
    left: unset;
  }
}

.not-active {
  display: block;
  height: 100vh;
  background-color: white;
  margin-top: -105vh;
  // animation-play-state: paused;
  animation: slide-out-nav 0.7s ease-out;

  @include md {
    animation: none;
    height: unset;
    margin-top: unset;
  }
}

@keyframes slide-out-nav {
  from {
    margin-top: -10vh;
  }
  to {
    margin-top: -105vh;
  }
}

@keyframes slide-in-nav {
  from {
    margin-top: -100vh;
  }
  to {
    margin-top: -30px;
  }
}

.active-link {
  border-top: 3px solid $primaryOrange;
  border-bottom: 3px solid $primaryOrange;
  padding: 10px 10px;
  animation: active-link 0.5s;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.59, 3);
}

@keyframes active-link {
  from {
    border-top-color: white;
    border-bottom-color: white;
    border-width: 3px;
    padding: 0px 10px;
  }
  to {
    border-top-color: $primaryOrange;
    border-bottom-color: $primaryOrange;
    border-width: 3px;
    padding: 10px 10px;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    // height: 70px;
    align-items: center;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: $primaryOrange;
    text-decoration: none;
  }
}

// page border css
.page-border {
  position: fixed;
  z-index: 999999;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  pointer-events: none;

  & > .top-border,
  & > .right-border,
  & > .bottom-border,
  & > .left-border {
    padding: 12px;
    background: white;
  }

  .bottom-border,
  .left-border,
  .right-border,
  .top-border {
    position: fixed;
    z-index: 9999;
  }

  .bottom-border,
  .top-border {
    width: 100%;
    padding: 11px;
    left: 0;
  }

  .right-border {
    right: 0;
  }

  .left-border,
  .right-border {
    padding: 11px;
    height: 100%;
    top: 0;
  }

  .bottom-border {
    bottom: 0;
  }
}
