@import "_variables.scss";
@import "_mediaqueries.scss";

@import url("https://use.typekit.net/xzb4vuh.css");

body {
  font-family: korolev, sans-serif;
  font-size: 16px;
  color: $black;
}

main {
  display: block;
  margin: 70px 1px 0px 1px;
  background-attachment: scroll;
  position: relative;
  z-index: 0;
  padding: 0px 0px;

  @include md {
    margin: 70px 22px 60px 22px;
  }

  @include lg {
    margin: 70px 52px 60px 52px;
  }
}

.text-center {
  text-align: center;
}

.btn {
  padding: 15px;
  text-align: center;
  margin: 0 auto;
  display: block;
  background-color: $white;
  text-decoration: none;
  color: $teal;
  width: 50%;
  font-size: 1.1em;
}

