/* autoprefixer grid: autoplace */
@import "./mediaqueries";
@import "./variables";

.longBoi {
  .workImage {
    width: 95%;
    @include md {
      max-width: 600px;
      height: auto;
    }
  }
}

.workImage {
  width: 95%;
  height: auto;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  max-width: 600px;

  @include md {
    height: 270px;
    width: auto;
    margin: 0 auto;
    display: block;
  }
}

.middle {
  opacity: 1;
  text-align: center;

  @include md {
    opacity: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}

%gridSmall {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "upperBoi" "longBoi" "lowerBoi";
  height: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 10px;
}

.gridRightLongWork {
  @extend %gridSmall;

  @include md {
    min-height: calc(100vh - 130px);
    grid-template-columns: 1.1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "upperBoi longBoi" "lowerBoi longBoi";
  }

  .longBoi {
    &:hover {
      background-color: lighten($color: $yellow, $amount: 5%);

      .middle {
        opacity: 1;
      }
    }
  }

  .upperBoi {
    &:hover {
      background-color: lighten($color: $teal, $amount: 4%);

      .middle {
        opacity: 1;
      }
    }
  }

  .lowerBoi {
    &:hover {
      background-color: lighten($color: $pink, $amount: 2%);
  
      .middle {
        opacity: 1;
      }
    }
  }
}

.gridLeftLongWork {
  @extend %gridSmall;

  @include md {
    min-height: calc(100vh - 130px);
    grid-template-columns: 1.1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "longBoi upperBoi" "longBoi lowerBoi";
  }

  .longBoi {
    &:hover {
      background-color: lighten($color: $yellow, $amount: 5%);

      .middle {
        opacity: 1;
      }
    }
  }

  .upperBoi {
    &:hover {
      background-color: lighten($color: $teal, $amount: 4%);

      .middle {
        opacity: 1;
      }
    }
  }

  .lowerBoi {
    &:hover {
      background-color: lighten($color: $pink, $amount: 2%);
  
      .middle {
        opacity: 1;
      }
    }
  }
}

.gridRightLong {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "upperBoi" "longBoi" "lowerBoi";
  // grid-auto-rows: min-content;
  height: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 10px;

  @include md {
    min-height: calc(100vh - 130px);
    grid-template-columns: 1.1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "upperBoi longBoi" "lowerBoi longBoi";
  }

  img {
    width: 100%;
    height: auto;
    overflow: auto;

    @include md {
      height: 270px;
      width: auto;
      margin: 0 auto;
      display: block;
    }
  }

  .longBoi img {
    width: 95%;
    height: auto;
    overflow: hidden;
    height: auto;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    max-width: 600px;
  }
}

.gridLeftLong {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "upperBoi" "longBoi" "lowerBoi";
  height: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  @include md {
    min-height: calc(100vh - 130px);
    grid-template-columns: 1.1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "longBoi upperBoi" "longBoi lowerBoi";
  }

  img {
    width: 100%;
    height: auto;
    overflow: auto;

    @include md {
      height: 270px;
      width: auto;
      margin: 0 auto;
      display: block;
    }
  }

  .longBoi img {
    width: 95%;
    height: auto;
    overflow: hidden;
    height: auto;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    max-width: 600px;
  }
}

.gridUpperSmall {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "upperBoi" "lowerBoi" "longBoi";
  height: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  @include md {
    min-height: calc(100vh - 130px);
    grid-template-columns: 1.1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "upperBoi longBoi" "lowerBoi longBoi";
  }

  .lowerBoi {
    padding: 30px;

    @include md {
      padding: 40px 50px;
    }

    h2 {
      font-size: 2em;
    }

    p {
      font-size: 1.1em;
    }
  }
}

// project pages

.gridProjectUpperSmall {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "upperBoi" "lowerBoi" "longBoi";
  height: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 10px;

  @include lg {
    min-height: calc(100vh - 130px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "upperBoi upperBoi" "lowerBoi longBoi";
  }

  .lowerBoi {
    padding: 20px;

    @include md {
      padding: 20px;
    }

    h2 {
      font-size: 2em;
    }

    p {
      font-size: 1.1em;
    }

    .longBoi,
.upperBoi,
.lowerBoi {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
  }

  .longBoi img {
    height: 95%;
    width: 90%;
    padding: 5% 0%;
    object-fit: cover;
    font-family: "object-fit: cover;";
  }
}

.fullWidth {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "upperBoi" "lowerBoi" "longBoi";
  height: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 10px;

  @include md {
    min-height: calc(100vh - 130px);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "upperBoi upperBoi" "lowerBoi longBoi";
  }

  img {
    // width: auto !important;
    // height: calc(100vh - 130px) !important;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 0 auto;
    max-width: none !important;

    @include md {
      width: 90%;
    }
  }
  .longBoi,
.upperBoi,
.lowerBoi {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
}

.full {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "upperBoi" "lowerBoi" "longBoi";
  height: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-bottom: 10px;

  img {
    // width: auto !important;
    // height: calc(100vh - 130px) !important;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 0 auto;
    max-width: none !important;

    @include md {
      width: 90%;
    }
  }
  .longBoi,
.upperBoi,
.lowerBoi {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
}

.single {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "upperBoi";
  height: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  img {
    // width: auto !important;
    // height: calc(100vh - 130px) !important;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 0 auto;

    @include md {
      width: 90%;
    }
  }
  .longBoi,
.upperBoi,
.lowerBoi {
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
}

// project pages

.longBoi,
.upperBoi,
.lowerBoi {
  position: relative;
  flex-direction: column;;
}


.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: 1s ease;
  backface-visibility: hidden;
  margin: auto;
  width: 90% !important;
  top: 0%;
  position: relative;

  h1 {
    text-align: center;
    font-size: 1.5em;

    @include md {
      font-size: 2em;
    }
  }
}


.text {
  background-color: $pink;
  color: $black;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
}

.longBoi {
  min-height: 200px;
  grid-area: longBoi;
  background-color: $yellow;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .text {
    background-color: $teal;
  }

  &:hover .image {
    opacity: 1;
    transform: scale(1.1);
  }
}

.upperBoi {
  min-height: 200px;
  grid-area: upperBoi;
  background-color: $teal;

  &:hover .image {
    opacity: 1;
    transform: scale(1.1);
  }
}

.lowerBoi {
  min-height: 200px;
  grid-area: lowerBoi;
  background-color: $pink;

  .text {
    background-color: $yellow;
  }

  &:hover .image {
    opacity: 1;
    transform: scale(1.1);
    // top: 17%;
  }
}
