@import "./mediaqueries";
@import "./variables";

.title {
  text-align: center;
  font-size: 2.5em;
  padding: 5px;
}

.software {
  text-align: center;
}

h2, h3, h4 {
  font-size: 25px !important;
  padding: 25px;
}

.softwareList {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    padding-inline-start: 0px;

  li {
    text-decoration: none;
    list-style: none;
    display: inline-block;

    .icon {
      height: 60px;
      width: auto;
    }

}
}
